{% extends "base.html.twig" %}
{% block body %}
    <div class="container body page-objectifs">
        <p><br /></p>
        <h3 class="titre">Nos objectifs</h3>
        <div>
            <p>
            <ol>
                <li>Faire fonctionner la plateforme sur la base du bénévolat</li>
                <li>Offrir une vraie relation entre le transporteur-voyageur, l’expéditeur et le récepteur, à la fois virtuellement et physiquement</li>
                <li>Développer notre plateforme numérique à l'international</li>
                <li>Cultiver l’économie de responsabilité, de partage et solidaire entre transporteurs-voyageurs et les expéditeurs </li>
                <li>Cultiver une économie solidaire de responsabilité et de partage, entre transporteurs-voyageurs et l’expéditeurs</li>
                <li>Réduire les émissions de CO2</li>
            </ol>
            </p>
        </div>
    </div>

{% endblock body %}