{% extends "base.html.twig" %}
{% block body %}
    {{ include('main/menu.html.twig') }}
    {# body #}

    <div class="container-fluid splash" id="splash" xmlns="http://www.w3.org/1999/html">
        <div class="container-awid">

            <div class="container-form-awid">
                <h2> Nos objectifs </h2>

                    <div>
                        <div class="block-info">
                            <p>

                               1. Faire fonctionner la plateforme sur la base du bénévolat<br>
                               2. Offrir une vraie relation entre le transporteur-voyageur, l’expéditeur et le récepteur, à la fois virtuellement et physiquement<br>
                               3. Développer notre plateforme numérique à l'international<br>
                               4. Cultiver l’économie de responsabilité, de partage et solidaire entre transporteurs-voyageurs et les expéditeurs<br>
                               5. Cultiver une économie solidaire de responsabilité et de partage, entre transporteurs-voyageurs et l’expéditeurs<br>
                               6. Réduire les émissions de CO2<br>
                            </p>
                        </div>

                    </div>

            </div>
        </div>
    </div>

{% endblock body %}