{% extends "base.html.twig" %}
{% block body %}
    {{ include('main/menu.html.twig') }}
    {# body #}

    <div class="container body">
        <h2>Présentation</h2>
        <br />
        <p class="quia">
            <strong>«JibColis»</strong> est une plateforme numérique de
            co-valisage qui met en relation des particuliers entre eux et leur
            permet d’envoyer des colis à destination des 5 Continents et plus
            particulièrement vers l’Europe et l’Afrique du nord.
        </p>
        <p class="quia">Ce site vous offre la possibilité d’envoyer vos courriers,
            documents, livres, appareils et matériels, habillement et accessoires, médicaments,
            mobilier divers…
        </p>
        <p class="quia">Ce site fonctionne 24h/24 et 7j/7 et est sécurisé.</p>
        <p class="quia">L’expéditeur (l’envoyeur) est la personne physique ayant choisi de faire envoyer son
            COLIS  par un tiers sélectionné via notre plateforme :
        </p>
        <br>
        <p class="quia">Le transporteur voyageur s’inscrit sur le site JibColis et
            propose son trajet de voyage.</p>
        <p class="quia">L’utilisateur souhaitant envoyer son colis choisit librement
            la personne physique qui lui remettra son besoin à transporter.</p>

        <p class="quia">
            <strong>Le site JibColis permet ainsi de :</strong><br><br>

            <div id="jibcolis_do">
                <div class="element col-md-3">
                    <h4>1</h4>
        <P>Rendre service en transportant un ou plusieurs colis</P>
    </div>
    <div class="element col-md-3">
        <h4>2</h4>
        <P>Amortir ses frais de voyage et de déplacement</P>
    </div>
    <div class="element col-md-3">
        <h4>3</h4>
        <P>A moindre coût ou gratuitement (Au libre choix du transporteur-voyageur)</P>
    </div>
    <div class="element col-md-3">
        <h4>4</h4>
        <P>A des dates, horaires et trajets librement définis entre les parties</P>
    </div>
    </div>
    <br>
    <p class="quia">
        <strong>«JibColis »</strong> permet donc de mettre en contact des personnes
        désirants expédier un colis en urgence avec des personnes prêtes à le transporter.
        Ce service vous offre une expédition en toute confiance de votre colis tout en vous
        permettant de réduire vos frais d’envoi. Il donne aussi l’opportunité au
        transporteur-voyageur de rentabiliser son voyage et par la même occasion,
        de dépanner une personne se trouvant dans l’urgence.
    </p>
    </div>

{% endblock body %}