{% extends "base.html.twig" %}
{% block body %}

    <div class="body">
        <div class="section1">
            <div class="main">
                <div>
                    <h3 class="fort">JibColis <img width="30px" height="30px" src="images/logo2.png" alt=""> AwidColis</h3>
                    <br />
                    <p>
                        Transport de colis de main à main
                        <br>
                        Entre particuliers
                    </p>
                </div>
                <br />
                <div class="row">

                    {% if app.user %}
                        <div class="col-md-offset-2 col-md-3">
                            <button class="btn btnjbl vertf" name="button" id="myBtn">Déposer une annonce</button>
                        </div><!-- .col-md-3-->
                        <div class="col-md-offset-1 col-md-3">
                            <button class="btn btnjbr maronf" name="button">Voir les annonces</button>
                        </div><!-- .col-md-3-->
                    {% else %}
                        <div class="col-md-offset-2 col-md-3">
                            <button class="btn btnjbl vertf" name="button" data-toggle="modal" data-target="#loginModal" id="myBtn">Déposer une annonce</button>
                        </div><!-- .col-md-3-->
                        <div class="col-md-offset-1 col-md-3">
                            <button class="btn btnjbr maronf" name="button" data-toggle="modal" data-target="#loginModal">Voir les annonces</button>
                        </div><!-- .col-md-3-->

                    {% endif %}

                </div><!-- .row-->
                <br />
                <a href="#jibcolis" class="btn btn-link" style="color: white;">en savoir plus ... </a>
            </div><!-- .main-->
        </div><!-- .section1-->

        <div class="section2" id="jibcolis">
            <div class="container" style="width:80%;padding: 10px;">
                <div class="row">
                    <h4 class=""><b>JibColis - AwidColis</b></h4>
                    <img src="images/logo2.png" style="width:100px;float: right; margin-left:10px;" />
                    <p style="text-align: justify;margin-top:25px;">
                        La 1ère plateforme <b>gratuite</b> destinée à la diaspora maghrébine, dans le but de mettre en relation                     des <b>personnes</b> souhaitant envoyer un colis et les <b>voyageurs</b> acceptant de les transporter.
                        <br/>
                        Le voyageur et l'expéditeur sont libres de négocier entre eux une contre partie en échange du service fourni.
                    </p>
                </div><!-- .row-->
            </div><!-- .container-->
        </div><!-- #jibcolis-->

        <div class="row desc">
            <div class="container">
                <div class="col-md-4">
                    <div class="illus">
                        <img width="100%" src="images/confiance.png" alt="">
                    </div>
                    <p class="desc_text">
                        Sécurité/Confiance
                        <br />
                        <br />
                        Après accord entre le voyageur et le transporteur une
                        attestation constituant une preuve de remise de votre colis est imprimable ICI
                    </p>
                </div><!-- .col-md-4-->
                <div class="col-md-4">
                    <div class="illus">
                        <img width="100%" src="images/economie.png" alt="">
                    </div>
                    <p class="desc_text">
                        Economique/ Solidaire
                        <br />
                        <br />
                        Un système Voyageur-Expéditeur gagnant- gagnant. Le
                        voyageur peut amortir son billet.
                        De son côté, l’expéditeur évite de se déplacer dans les aéroports ou
                        dans les gares et peut envoyer son colis à moindre coût, voir gratuitement.
                    </p>
                </div><!-- .col-md-4-->
                <div class="col-md-4">
                    <div class="illus">
                        <img width="100%" src="images/eco.png" alt="">
                    </div><!-- .illus-->
                    <div class="desc_text">
                        Ecologique
                        <br />
                        <br />
                        <p>
                            Réduire l'émission en CO2 des transports,
                            en optimisant les trajets des voyageurs existants plutôt que d'en créer de nouveaux.
                        </p>
                    </div><!-- .desc_text-->
                </div><!-- .col-md-4-->
            </div><!-- .container-->
        </div><!-- .desc-->
    </div><!-- .body-->
{% endblock body %}