<nav class="navbar navbar-default navbar-fixed-top my-menu">
    <div class="container">
        <!--menu gauche-->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img height="100%" src="/images/logo.png" alt="Logo_JIBCOLIS">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--menu droite-->
        <div class="navbar-right collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#" class="btn btnjcm menubtn">Accueil</a></li>
                <li><a class="btn btnjcm menubtn" href="#">Comment ça marche</a></li>
				<li><a class="btn btnjcm menubtn" name="button" data-toggle="modal" data-target="#myModal">Se connecter</a></li>
                <li><a href="#" class="btn btnjcm menubtn">S'inscrire</a></li>
            </ul>
        </div>
    </div>
</nav>