<nav class="container-fluid nav">
    <div class="container cf">
        <div class="brand">
            <a href="#splash">Jib Colis</a>
        </div>
        <i class="fa fa-bars nav-toggle"></i>
        <ul>
            <li><a href="#about">À propos</a></li>
            <li><a href="#skills">Skills &amp; Experience</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
            {% if app.user != null  %}
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <img src="/css/profile.png" class="profil_photo" alt="photo de profile" style="margin-top: -8px; border-radius: 5px;  height:25px; width:25px">
                        {{ app.user.username }}
                        <span class="caret"></span></a>
                    {#<ul class="dropdown-menu">#}
                        {#<li><a href="#">Mon profile</a></li>#}
                        {#<li><a href="#">Mes colis</a></li>#}
                        {#<li><a href="#">Mes trajets</a></li>#}
                        {#<li><a href="#">Ma messagerie</a></li>#}
                        {#<li><a href="/logout">Deconnexion</a></li>#}
                    {#</ul>#}
                </li>
            {%  endif %}
        </ul>
    </div>
</nav>
