<header>

    {% if app.user == null %}
        {{ include('main/modalLogin.html.twig') }}
        {{ render(controller('App\\Controller\\SecurityController::getRegisterModel'))}}
    {% endif %}

    <nav class="navbar navbar-default navbar-fixed-top my-menu">
        <div class="container">
            <!--Nav Left-->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img height="100%" src="/images/logo.png" alt="Logo_JIBCOLIS">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- .navbar-header-->
            <!--Nav Right-->
            <div class="navbar-right collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/" lass="btn btnjcm menubtn">Accueil</a></li>
                    <li><a lass="btn btnjcm menubtn" href="{{ path('how_it_works') }}">Comment ça marche</a></li>
                    <li><a name="button" data-toggle="modal" data-target="#loginModal">Se connecter</a></li>
                    <li><a name="button" data-toggle="modal" data-target="#registerModal">S'inscrire</a></li>
                </ul>
            </div><!-- .navbar-right-->
        </div><!-- .container-->
    </nav><!-- .navbar-->
</header>