{% extends "base.html.twig" %}
{% block body %}
    {{ include('main/menu.html.twig') }}
    {# body #}

    <div class="container body">
        <p></p>
        <h2 class="titre">{{ adverTitle }} </h2>
        {% for adver in advertisements %}
            <div  class="row annonce">
            <!--premiere box-->
                <div class="col-md-2 col-sm-2">
                    <img class="img-colis" src="images/passenger.png" alt="passenger_img" >
                </div>

                 <!--seconde box-->
                <div class="col-md-5 col-sm-5 text_colis">
                    <p>Mode de transport : TEST TYPE </p>
                    <p>Poid : TEST POID </p>
                    <p>
                        Trajet : Pays, Ville <span class="glyphicon glyphicon-arrow-right"></span> Pays, Ville
                    </p>
                    <br />
                </div>
                <div class="col-md-5 col-sm-5 text_colis">
                    <p>Date d'expedition avant : DATE TEST </p>
                    <p>Description : DESCRIPTION TEST </p>
                    <p>Prix : PRIX TEST </p>
                    <br />
                </div>
               <!--troisieme box-->
                <div class="col-md-5 buttons-container">
                <div class="row">
                    <!--Bottons-->
                    <ul class="my-colis-buttons">
                        {% if myAdver %}
                            <li><a href="#" class="btn btn-success">Modifier</a></li>
                            <li><button class="btn btn-danger" data-toggle="modal" data-target="#confirm_modal">Supprimer</button></li>
                        {% endif %}
                        <li>
                            <form method="post" action="#">
                                <!--TODO: value # should be dynamically replaced by the item's id-->
                                <input type="hidden" name="idc" value="#">
                                <button type="submit" class="btn btn-warning">Détail de l'annonce </button>
                            </form>
                        </li>
                    </ul>
                    {% if myAdver %}
                        <div id="confirm_modal" class="modal center" role="dialog" style="top:30%" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>Voulez vous vraiment supprimer ce colis</p>

                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
                                        <button type="submit" id="delete-adver" data-url="{{ path("delete_advertisement",{"id": adver.id}) }}" class="btn btn-secondary">Oui</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!--/confirmation modal-->
                </div>
            </div>
            </div>
        {% endfor %}
    </div>





{% endblock body %}