{% extends "base.html.twig" %}
{% block body %}
    {{ include('main/menu.html.twig') }}
    {# body #}

    <div class="container-fluid splash" id="splash">
        <div class="container-awid">

            <div class="container-form-awid">
                <h2> Qui somme nous </h2>

                    <div>
                        <div class="block-info">
                            <div class="block-logo-info">
                                <img src="/images/jug.jpg">

                            </div>
                            <div class="block-info-info">
                                <p> Originaire d’Afrique du nord, je vis à Paris, je suis fondateur de www.JibColis.com. Le secteur des postes et transports de colis sont peu développés et très onéreux dans de nombreuses régions en Afrique du nord et dans le monde. Passionné par les solutions à effet social, l’idée de mon site JibColis est née d’un besoin et d’un vécu personnel. Etant responsable d’une association humanitaire, il m’arrive, comme vous, d’avoir besoin d’envoyer en toute urgence, un médicament, un document, un appareil, des vêtements … à des proches. Je suis dans ces cas-là contraint de me déplacer et « squatter » pendants des heures dans un aéroport ou une gare, espérant rencontrer une personne bienveillante, qui accepterait de transporter l’objet en question. Désormais, avec JibColis, nous savons qu’une personne du même quartier, de la même région, de la même ville ou du même pays est disposée à transporter cet objet pour nous. Au travers d’une entraide communautaire et de proximité cette plateforme JibColis vous offre une opportunité et une alternative efficaces entre vous voyageurs effectuant des trajets vers l’ Algérie, Tunisie, Maroc et autres pays (pour rendre service aux expéditeurs, désireux d’envoyer des colis, en amortissant vos frais de voyages ou de déplacements).</p>
                            </div>
                        </div>

                    </div>

            </div>
        </div>
    </div>

{% endblock body %}