<div class="card-block">
    <div class="media m-b-20">
        {#<div class="media-left photo-table">#}
            {#<img class="media-object img-radius" src="images/jug.jpg" alt="E-mail User">#}
        {#</div>#}
        <div class="media-body photo-contant">
            <div>
                {{ include('Message/messageBlock.html.twig', {"content" : message.content, "username": username}) }}

            </div>

            {% if replay %}
                <div class="m-t-15">
                    <form id="sami" class="form-material" action="{{ path('add_message', {"toUserId" :message.fromUser.id }) }}">
                        <div class="form-group form-primary">
                            <textarea name="messageContent" class="form-control" id="exampleTextarea-1" required=""></textarea>
                            <span class="form-bar"></span>
                            <label class="float-label">Ecrire Une Reponce...</label>
                            <button type="submit" class="btn btn-primary"> Envoyer </button>
                        </div>
                        <input type="hidden" name="test">
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>