<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>JibColis</title>
            <meta name="viewport" content="width=device-width; initial-scale=1.0">
            <!--script-->
            <script src="https://code.jquery.com/jquery-3.2.1.js"
                    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                    crossorigin="anonymous"></script>
            <!--bootstrap-->
            <link rel="stylesheet" href="/css/bootstrap.css" />
            <script src="/js/bootstrap.js" ></script>
            <script src="/js/npm.js" ></script>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <!--css-->
            <link rel="stylesheet" href="/css/body.css" type="text/css" media="screen" >
            <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" >
            {#<link rel="stylesheet" href="/css/style1.css" type="text/css" media="screen" >#}
            <link rel="stylesheet" href="/css/footer.css" type="text/css" media="screen" >
            <title>{% block title %}Welcome!{% endblock %}</title>
            {% block stylesheets %}{% endblock %}
        </head>
    <body>
    {% block body %}

    {% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
